#root {
  margin: 0 auto;
  background-color:#181b1b;
}

.bg{
  background-image: url("/sheargenius-banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* backdrop-filter: blur(3px); */
}

@font-face {
  font-family: "Raleway";
  src: url(/public/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "RalewayItalic";
  src: url(/public/fonts/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Cormorant";
  src: url(/public/fonts/Cormorant-VariableFont_wght.ttf);
}

.italic{
  font-family: "RalewayItalic",Arial, Helvetica, sans-serif;
}

i{
  font-size: 60px;
}